/* Estilos gerais */
body {
    font-family: "Montserrat", sans-serif; /* Trocando a fonte principal para Montserrat */
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilizando o cabeçalho e o menu */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px; /* Aumentando o espaçamento entre os itens do menu */
}

nav ul li a {
    font-family: "Ubuntu", sans-serif; /* Usando a fonte Ubuntu para os menus */
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0a7de7;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilizando a seção de introdução */
#intro {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando a seção de definição de IA */
#definition {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando a seção de aplicações da IA */
#applications {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando a seção de relevância na vida cotidiana */
#importance {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando a seção de próximos passos */
#next-steps {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando links */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

/* Estilizando rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}